<!doctype html>
<html ng-app="recipeApp">
  <head>
    <title>Recipe AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/testing/recipe.js"></script>
  </head>

  <body>
    <div class="recipe-search" ng-controller="SearchCtrl"></div>
    <div class="recipe-display" ng-controller="RecipeCtrl">
      <div class="title">{{recipe.name}}</div>
      <p>Makes {{recipe.servings}} servings</p>
      <div class="ingredients">Ingredients:
      <ul>
      <li data-ng-repeat="x in recipe.ingredients">{{ x }}</li>
      </ul>
      </div>
      <div class="instructions">Instructions:
      <ul>
      <li data-ng-repeat="x in recipe.instructions">{{ x }}</li>
      </ul>
      </div>
    </div>
  </body>
</html>
