<!doctype html>
<html ng-app="recipeApp">
  <head>
    <title>Recipe AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/testing/recipe.js"></script>
  </head>

  <body ng-controller="RecipeCtrl">
      <em>{{recipe.name}}</em>
      <p>Makes {{recipe.servings}} servings</p>
      <p>Ingredients: </p>
      <ul>
      <li data-ng-repeat="x in recipe.ingredients">{{ x }}</li>
      </ul>
      <p>Instructions: </p>
      <ul>
      <li data-ng-repeat="x in recipe.instructions">{{ x }}</li>
      </ul>
  </body>
</html>
